In [3]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.2-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arush\onedrive\desktop\da projects\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\arush\onedrive\desktop\da projects\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.2-cp313-cp313-win_amd64.whl (11.0 MB)
Using cached numpy-2.3.2-cp313-cp313-win_amd64.whl (12.8 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.2 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
df=pd.read_csv("DataSets\Salary-Dataset.csv")
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\arush\AppData\Local\Temp\ipykernel_18500\3676750049.py:2: SyntaxWarning: invalid escape sequence '\S'
  df=pd.read_csv("DataSets\Salary-Dataset.csv")

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,0,Data Scientist,$113K – $160K/yr (Employer est.),Company Description\n\nVisa is a world leader ...,4.1,Visa,"Washington, DC",10000+ Employees,1958,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
1,1,Data Scientist,$104K – $145K/yr (Employer est.),"At Johnson & Johnson , we believe health is ev...",4.2,Johnson & Johnson,"Titusville, NJ",10000+ Employees,1887,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD)
2,2,Data Scientist,-1,Description:\nThe Data Scientist role combines...,3.4,OPERATION SMILE INC,Remote,51 to 200 Employees,1982,Nonprofit Organization,Civic & Social Services,Nonprofit & NGO,$25 to $100 million (USD)
3,3,Growth Data Scientist,$108K – $192K/yr (Employer est.),NaN,4.3,Adobe,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
4,4,TikTok Product Analysis - Data Scientist,$201K – $296K/yr (Employer est.),NaN,3.4,TikTok,"San Jose, CA",1001 to 5000 Employees,2016,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable

In [7]:
print(df.isnull().sum())
print((df == '').sum())

Unnamed: 0             0
Job Title              0
Salary Estimate        0
Job Description      207
Rating                 0
Company Name           0
Location               0
Size                   0
Founded                0
Type of ownership      0
Industry               0
Sector                 0
Revenue                0
dtype: int64
Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
dtype: int64

In [8]:
df['Job Description'].fillna("Not provided", inplace=True)
df['Job Description'].isnull().sum()

np.int64(0)

In [9]:
df['Salary Estimate'].replace(-1,'Not Disclosed',inplace=True)

In [11]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [12]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [13]:
import re
def extract_salary(s):
    match=re.findall(r'\$(\d+)[Kk]',s)
    return(int(match[0]),int(match[1])) if len(match) == 2 else(None,None)
df['Min Salary'],df['Max Salary'] = zip(*df['Salary Estimate'].apply(extract_salary))

In [14]:
df['Min Salary'] = pd.to_numeric(df['Min Salary'])
df['Max Salary'] = pd.to_numeric(df['Max Salary'])

print(df['Min Salary'].dtype)
print(df['Max Salary'].dtype)

float64
float64

In [15]:
df['Min Salary']=df['Min Salary'].fillna(df['Min Salary'].median()).astype(int)
df['Max Salary']=df['Max Salary'].fillna(df['Max Salary'].median()).astype(int)

In [16]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Min Salary,Max Salary
0,Data Scientist,$113K – $160K/yr (Employer est.),Company Description\n\nVisa is a world leader ...,4.1,Visa,"Washington, DC",10000+ Employees,1958,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),113,160
1,Data Scientist,$104K – $145K/yr (Employer est.),"At Johnson & Johnson , we believe health is ev...",4.2,Johnson & Johnson,"Titusville, NJ",10000+ Employees,1887,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD),104,145
2,Data Scientist,-1,Description:\nThe Data Scientist role combines...,3.4,OPERATION SMILE INC,Remote,51 to 200 Employees,1982,Nonprofit Organization,Civic & Social Services,Nonprofit & NGO,$25 to $100 million (USD),118,186
3,Growth Data Scientist,$108K – $192K/yr (Employer est.),Not provided,4.3,Adobe,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),108,192
4,TikTok Product Analysis - Data Scientist,$201K – $296K/yr (Employer est.),Not provided,3.4,TikTok,"San Jose, CA",1001 to 5000 Employees,2016,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,201,296

In [17]:
df.to_csv("cleaned_glassdoor_jobs.csv", index=False)